<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.example.photogallery.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.example.photogallery.PRIVATE" />

    <application
        android:name=".PhotoGalleryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBookPractice">
        <activity
            android:name=".ui.PhotoGalleryWebActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.PhotoGalleryMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.NotificationReceiver"
            android:exported="false"
            android:permission="com.example.photogallery.PRIVATE">
            <intent-filter android:priority="-999">
                <action android:name="com.example.photogallery.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>